<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../Styles/about.css">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body class="about">
    <section id="header">
        <nav class="nav">
          <i class="uil uil-bars navOpenBtn"></i>
          <img src="../Images/logo hos.jpg" width="100" height="50">
          <p><h5 id="yash">Yash Group of Hospitals</h5></p>
          <ul class="nav-links" id="navbar">
            <i class="uil uil-times navCloseBtn"></i>
            
            <a href="home.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Home</a>
             
             <a href="service.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Service</a>
             <a href="Schedule.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Schedule Appointment</a>
             <a href="about.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">About Us</a>
             <a href="patient.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Patient</a>
             <a href="login.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
             </ul>
    
          
        </nav>
      </section>
    <h1 id="head1">Yash Group of Hospitals</h1>
    <video  width="620" height="440" controls>
        <source src="../Video/Doc.mp4" type="video/mp4" >
       
      Your browser does not support the video tag.
      </video> 
</body>
</html> 